language: node_js
node_js:
- node
before_script:
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- npm install -g bower json
- bower install
- chromium-browser --version
- json -I -f node_modules/gulp-protractor/node_modules/protractor/config.json -e 'this.webdriverVersions.chromedriver = "2.12"'
