/* copy .has-error to .ng-invalid */
.ng-invalid.help-block,
.ng-invalid.control-label,
.ng-invalid.radio,
.ng-invalid.checkbox,
.ng-invalid.radio-inline,
.ng-invalid.checkbox-inline,
.ng-invalid.radio label,
.ng-invalid.checkbox label,
.ng-invalid.radio-inline label,
.ng-invalid.checkbox-inline label {
  color: #a94442;
}
.ng-invalid.form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.ng-invalid.form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.ng-invalid.input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}


label {
  font-weight: normal;
}

.katex-display {
  display: inline-block;
  margin: 0;
  text-align: inherit;
}
