.input-view input[name="decimalPrecisionNumber"] {
  min-width: 40px;
  -moz-appearance:textfield;
}

.input-view input[name="decimalPrecisionNumber"]::-webkit-outer-spin-button,
.input-view input[name="decimalPrecisionNumber"]::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
